@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel-border {
  clip-path: polygon(
    10% 0%,
    90% 0%,
    90% 5%,
    95% 5%,
    95% 10%,
    100% 10%,
    100% 90%,
    95% 90%,
    95% 95%,
    90% 95%,
    90% 100%,
    10% 100%,
    10% 95%,
    5% 95%,
    5% 90%,
    0% 90%,
    0% 10%,
    5% 10%,
    5% 5%,
    10% 5%
  );
}
.pixel-border-selengkapnyas {
  clip-path: polygon(
    5% 0%,
    95% 0%,
    95% 15%,
    98% 15%,
    98% 25%,
    100% 25%,
    100% 75%,
    98% 75%,
    98% 95%,
    95% 95%,
    95% 100%,
    10% 100%
  );
}

.pixel-border-selengkapnya {
  clip-path: polygon(
    5% 0%,
    95% 0%,
    95% 15%,
    98% 15%,
    98% 25%,
    100% 25%,
    100% 75%,
    98% 75%,
    98% 90%,
    95% 90%,
    95% 100%,
    10% 100%,
    5% 100%,
    5% 90%,
    2% 90%,
    2% 75%,
    0% 75%,
    0% 25%,
    2% 25%,
    2% 15%,
    5% 15%,
    5% 0%
  );
}

.detailed-pixel-border {
  clip-path: polygon(
    12% 0%,
    12% 2%,
    8% 2%,
    8% 6%,
    6% 6%,
    6% 8%,
    3% 8%,
    3% 11%,
    0% 11%,
    0% 89%,
    3% 89%,
    3% 92%,
    6% 92%,
    6% 95%,
    8% 95%,
    8% 98%,
    12% 98%,
    12% 100%,
    88% 100%,
    88% 98%,
    92% 98%,
    92% 95%,
    94% 95%,
    94% 92%,
    97% 92%,
    97% 89%,
    100% 89%,
    100% 11%,
    97% 11%,
    97% 8%,
    94% 8%,
    94% 6%,
    92% 6%,
    92% 2%,
    88% 2%,
    88% 0%
  );
}

.FAQ-border {
  clip-path: polygon(
    0 17%,
    3% 17%,
    3% 8%,
    5% 8%,
    5% 0,
    95% 0,
    95% 8%,
    97% 8%,
    97% 17%,
    100% 17%,
    100% 83%,
    97% 83%,
    97% 92%,
    95% 92%,
    95% 100%,
    5% 100%,
    5% 92%,
    3% 92%,
    3% 83%,
    0 83%
  );
}

.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #eb5e0b);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

g[aria-labelledby],
g[filter*="filter-id"],
g[stroke="#3cabff"] {
  display: none;
}

@media screen and (min-width: 1024px) {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.custom-scrollbar-red::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #eb5e0b, #9e0202);
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 20px;
}

.custom-scrollbar-red::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff7f50, #ff4500);
}

.custom-scrollbar-blue::-webkit-scrollbar-thumb {
  background: #166191;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 20px;
}

.custom-scrollbar-blue::-webkit-scrollbar-thumb:hover {
  background: #6dd5fa;
}

.popup {
  background: rgba(30, 30, 30, 0.85);
  /* background: radial-gradient(
    circle,
    rgba(58, 58, 58) 10%,
    rgba(30, 30, 30) 80%
  ); */
}
